<form action="/restaurant" method="post">
    <div class="col-xs-12 col-sm-4">
        <label for="name">Name:</label>
        <input id="name" name="name" type="text">
    </div>
    <div class="col-xs-12 col-sm-4">
        <label for="address">Address:</label>
        <input id="address" name="address" type="text">
    </div>
    <div class="col-xs-12 col-sm-4">
        <label for="phone">Phone:</label>
        <input id="phone" name="phone" type="text">
    </div>

    <div class="form-group col-xs-12 col-sm-4">
        <label for="district_id">District:</label>
        <select name="district_id" id="district_id">
            <% @districts.each() do |district| %>
            <option value="<%= district.id() %>"><%= district.name() %></option>
            <% end %>
        </select>
    </div>

    <div class="form-group col-xs-12 col-sm-4">
        <label for="cuisine_id">Cuisine:</label>
        <select name="cuisine_id" id="cuisine_id">
            <% @cuisines.each() do |cuisine| %>
            <option value="<%= cuisine.id() %>"><%= cuisine.name() %></option>
            <% end %>
        </select>
    </div>

    <div class="form-group col-xs-12 col-sm-4">
        <label for="budget_id">Budget:</label>
        <select name="budget_id" id="budget_id">
            <% @budgets.each() do |budget| %>
            <option value="<%= budget.id() %>"><%= budget.scale() %></option>
            <% end %>
        </select>
    </div>

    <div class="col-xs-12 col-sm-8">
        <label for="image">Image Url:</label>
        <input id="image" name="image" type="text">
    </div>

    <div class="col-xs-12 col-sm-4">
        <button class="btn btn-success" type="submit">Add Info</button>
    </div>
</form>

<br>
<hr>

<div class="col-xs-12 col-sm-12">
    <h2>Restaurant available (<%=@restaurants.length%>
        listings)</h2>
</div>
<%@restaurants.each() do |restaurant|%>
<div id="restaurant-tile" class="col-xs-12 col-sm-6 col-md-2">
    <a href="/restaurant/<%=restaurant.id%>">
        <div class="thumbnail">
            <img style="height: 80px" src="<%=restaurant.image%>">
            <div class="caption">
                <h5><%=restaurant.name()%></h5>
            </div>
        </div>
    </a>
</div>
<%end%>
