<div class='table-responsive'>
  <table class='table'>
    <tbody >
      <%@matches.each do|match|%>
      <tr>
        <div class='thumbnail container' style='width: 95% ;margin: 15px; margin-left:30px;'>
          <form action='/match/<%=match.id%>' method='post'>
            <input type="hidden" name="_method" value="delete">
            <a href='/select_restaurant/<%=match.id%>' class='table-row' style='color:black'>
              <div class='col-xs-6'>
                <img id="user_img" src="<%= match.image() %>" alt="member_photo">
              </div>
              <div class='col-xs-6'>
                <h3><%=match.name%></h3>
                <%if match.cuisine != nil%>
                  Cuisine: <%=match.cuisine.name%><br />
                <%end%>
                <%if match.district != nil%>
                  District: <%=match.district.name%><br />
                <%end%>
                <%if match.budget != nil%>
                  Budget: Below $<%=match.budget.scale%><br />
                <%end%>
                <br />
                <button type='submit' class='btn-xs btn-danger'style='float:right;position:relative;top:-140px;right:-10px'>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </div>
            </a>
          </form>
        </div>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>

<a style="width: 160px" href="/user" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>
Find a New Match</a>
